*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem

}

ul,li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
   list-style: none;
}

.invisible {
    display: none;
}

.song_list {
    margin: 2rem 0;
}

.items {
    display: flex;
    justify-content: space-between;
}

.items > p {
    width: 80%;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
}

.flow_content > * + * {
    margin-top: 1rem;
}